# Empty CSS file for your own CSS


/*
======
icons 
======
*/

.lnr {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: -0.05em;
}

.lnr-book {
  color: #62b790;
  font-size: 70px;
}

.lnr-users{
	color: #62b790;
	font-size: 70px;
}

.lnr-laptop{
	color:#62b790;
	font-size: 70px;
}

.lnr-layers{
	color: #62b790;
	font-size: 40px;
}

.lnr-map-marker{
  color: #62b790;
  font-size: 40px;
}

.lnr-keyboard{
  color: #62b790;
  font-size: 60px;
}


/* normas e procedimentos */
.lnr-user{
  color:#62b790;
  font-size: 40px;
  padding: 50px;
}

.lnr-cross-circle{
  color: #62b790;
  font-size: 40px;
  padding: 50px;
}
.lnr-clock{
  color: #62b790;
  font-size: 40px;
  padding: 50px;
}

.lnr-warning{
  color: #62b790;
  font-size: 40px;
  padding: 50px;
}

.lnr-hourglass{
  color: #62b790;
  font-size: 40px;
  padding: 50px;
}

/*
================
página de hoteis 
================
*/
.lnr-map{
  color:#62b790;
  font-size: 60px;
}

.lnr-bus{
  color:#62b790;
  font-size: 60px;
}
/* 
==================
páginas dos cursos
==================
 */

.lnr-license{
  color: #62b790;
  font-size: 60px;
  padding: 40px;
}


/*
=======
index
=======
*/
.lnr-lock{
  color: #62b790;
}


/* 
=======
links 
======= 
*/

a:link { 
	color:#026610;
}
	
a:hover { 
	color:#000; text-decoration: underline;
}
	
a:visited { 
	color:#026610 ;
}


/* 
==============================
Título de destaque nas páginas  
==============================
*/

.section-header {
    color: #000;
    margin-bottom: 40px;
    text-align: center;
}

.section-header .section-title {
    font-size: 34px;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #333;
    position: relative;
}

.section-header .section-subtitle {
    margin-top: 15px;
    color: #006633;
    font-size: 14px;
    font-weight: 400;
}

.section-header .lines {
    margin: auto;
    width: 70px;
    position: relative;
    border-top: 2px solid #61D2B4;
    margin-top: 15px;
}


/* 
==========
highlights 
==========
*/
mark{
  background-color:  rgba(97, 210, 180, 0.3);
}


/*
===================
tabela bibliografia
===================
*/

#publicacoes{
  font-size: 13px; 
  text-align: justify;
  
}


